  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <!-- Slide 1 -->
          <div class="carousel-item active" style="background: url(assets/img/slide/slide-1.png)">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animate__animated animate__fadeInDown">Welcome to <span>Name</span></h2>
                <p class="animate__animated animate__fadeInUp">
                     For everything fashionable ,classy and practical .
                </p>
                <a href="" class="btn-get-started animate__animated animate__fadeInUp">Shop Now</a>
              </div>
            </div>
          </div>

                 </div>

       


      </div>
    </div>
  </section><!-- End Hero -->
 
<div class="section-title">
  <h2  style="padding: 20px;">Products</h2>
</div>
 
  <app-product-categoty></app-product-categoty>
