<section class="grid-container">


        <div class="row">
  
            <div class="col-sm-3" >
            <div class="product-grid6">
                <div class="product-image6">
                    <a href="#">
                        <img class="pic-1" src="assets/img/productCategory/bags.jpeg">
                    </a>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">name</a></h3>
                    <div class="price">kshprice
                        <span>$14.00</span>
                      <br>
                        <a href="#" class="btn btn-info btn sm">
                          <span class="bi bi-cart"></span> Add to Cart
                        </a>
          
        
                        
                         
                          
                        
                    </div>
                   
          
                </div>
                
            </div>
            
           </div>
        
